{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<section id="login-section" class="default-section dark">
	<div class="container">
		<form id="login-form" action="" method="POST" novalidate>
			<div class="subsection">
					<h3 class="title text-center">Первая инициализация</h3>
					<div class="row">
						<div class="form-group col-sm-12 mb-2">
								<input class="form-control"
											 name="login"
											 aria-describedby="basic-addon1"
											 placeholder="Логин"
											 value="root"
											 required>
						</div>
						<div class="form-group col-sm-12 mb-2">
							<input class="form-control"
										 name="password"
										 aria-describedby="basic-addon1"
										 type="password"
										 placeholder="Пароль"
										 required>
						</div>
						<div class="form-group col-sm-12 mb-2">
							<input class="form-control"
										 name="password-repeat"
										 aria-describedby="basic-addon1"
										 type="password"
										 placeholder="Повторный пароль"
										 required>
						</div>
						<div class="form-group col-sm-12 mb-2">
							<input class="form-control"
										 aria-describedby="basic-addon1"
										 type="submit"
										 value="Войти">
						</div>
				</div>
			</div>
		</form>
	</div>
</section>
{% endblock %}
