{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://www.rshu.ru/logo/logo2020_rus.png" alt="Logo" width="40px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Меню
          </a>
          <ul class="dropdown-menu">
						{% block menu %}
            <li><a class="dropdown-item" href="#">Action</a></li>
						{% endblock %}
          </ul>
        </li>
      </ul>
			<a class="nav-link" href="{{ url_for('auth.logout') }}">Выход</a>
    </div>
  </div>
</nav>
{% endblock %}
